<div class="footer">
    <div class="footer-nav wrap flex">
        <div class="logo-copy flex">
            <div class="logo-white">
                <a class="logo-img" href="#">D'PERFUME</a>
            </div>
            <div class="copy flex">
                <a href="#">© 2020. All Rights Reserved.</a>
            </div>
        </div>
        <ul class="flex footer-list-mobil">
            <li>
                <a href="#">Product</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</div>