<div class="nav wrap">
    <div class="menu flex">
        <div class="logo">
            <a class="logo-img" href="#">D'PERFUME</a>
        </div>
        <ul class="list flex">
            <li>
                <a href="#">
                    <img src="../assets/images/icon-01.png" alt="">Product
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/icon-02.png" alt="">log in
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/icon-03.png" alt="">Wishlist
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/icon-04.png" alt="">Cart(3)
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="nav-mobil">
    <div class="menu flex">
        <div class="logo">
            <a class="logo-img" href="#">D'PERFUME</a>
        </div>
        <ul class="list flex">
            <li>
                <a href="#">
                    <img src="../assets/images/icon-04.png" alt="">
                </a>
            </li>
            <li class="bar">
                <a href="#">
                    <img src="../assets/images/bars.svg" alt="menu">
                </a>
            </li>
        </ul>
    </div>
</div>