<div class="subscribe">
    <div class="subscribe-box wrap">
        <h2 class="fcolor-grey">
            記得<br>
            訂閱以獲取更多資訊！
        </h2>
        <div class="inputbox flex">
            <div class="email-input fcolor-grey">
                Your email address
            </div>
            <div class="sub-btn flex" >
                <a href="#">Subscribe</a>
            </div>
        </div>
    </div>
</div>