/*nav*/
.nav{
  padding:16px 10px ;
}

.logo a{
  background: url(../images/d’Perfume.png);
  min-width: 128px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.logo-img{
  height: 38px;
}

.menu{
  justify-content: space-between;
  align-items: center;
}
.list li{
  padding-right: 32px;
      img{
        max-width: 20px;
        padding-right: 4px;
      }
      a{
        display: block;
        color:#8D8D8D;
      }
      a:hover{
        color:chocolate;
        transition: 0.3s;
      }
}
.nav-mobil{
  display: none;
}

/*在 iPhone11 直式下變更樣式 */
@media(max-width: 767px){

  .wrap{
      max-width:100%;
      padding:0px 10px;
    }
  .nav{
      display: none;
    }
  .nav-mobil{
      display: block;
      padding:0px  10px;
    }
  .logo a{
      margin:9px 0px ;
  }
  .logo-img{
    padding:0px ;
    
  }
  .menu{
      justify-content: space-between;
      align-items: center;
  }
 
  .list li{
      padding-right: 0px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      .menu-bar{
        max-width: 100%;
      }
  }
  .cart-position{
    position: relative; 
      .cart-num{
        font-size: 12px;
        color:white;
        background: #916000;
        border-radius: 7px;
        padding:0px 5px;
        position: absolute;
        right: 0px;
        top: -5px;
      }
  }
  .menu li a:hover{
      background: #ac8a4654;
      border-radius: 20px;
  }
}