.product-nav{
    background: #916000;
    li{
        a{
            display: block;
            font-size: 20px;
            padding:14px 28px 14px 0px;
            color:#fff;
        }
        a:hover{
            color:yellow;
        }
    }
}