<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="product-nav">
      <div class="wrap">
        <ul class="flex">
          <li>
            <a href="#">CHANEL</a>
          </li>
          <li>
            <a href="#">Jo Malone</a>
          </li>
          <li>
            <a href="#">Curology</a>
          </li>
          <li>
            <a href="#">Dior</a>
          </li>
          <li>
            <a href="#">Chloe</a>
          </li>
          <li>
            <a href="#">ZARA</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-item wrap">
      <ul class="flex product-item-box">
        <li>
          <div class="item-pro-box">
            <img src="../assets/images/products1.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1,380</span>
            <span class="price-linethrough">NT$1580</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box-bottom">
            <img src="../assets/images/index6.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
            <span class="price-linethrough">NT$1580</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box">
            <img src="../assets/images/products3.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box">
            <img src="../assets/images/products4.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box">
            <img src="../assets/images/products5.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
            <span class="price-linethrough">NT$1580</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box-oversize">
            <img src="../assets/images/index4.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
            <span class="price-linethrough">NT$1580</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box">
            <img src="../assets/images/products7.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
            <span class="price-linethrough">NT$1580</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box-oversize">
            <img src="../assets/images/products8.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
            <span class="price-linethrough">NT$1580</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box">
            <img src="../assets/images/index3.png" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
            <span class="price-linethrough">NT$1580</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box">
            <img src="../assets/images/products10.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
            <span class="price-linethrough">NT$1580</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box">
            <img src="../assets/images/products11.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
        <li>
          <div class="item-pro-box-oversize">
            <img src="../assets/images/products12.jpg" alt="">
          </div>
          <h3 class="hit-title">Poppy & Barley</h3>
          <p class="brach-name">Jo Malone</p>
          <div class="price">
            <span class="price-main">NT$1380</span>
          </div>
          <div class="bar-icon flex">
            <div class="icon_like">
              <a href="#"></a>
            </div>
            <div class="icon_cart">
              <a href="#"></a> 
            </div> 
          </div>
        </li>
      </ul>
    </div>
    <div class="page wrap">
        <ul class="pages_click flex">
          <li><a  onclick="checked" href="#">1</a></li>
          <li><a onclick="checked" href="#">2</a></li>
          <li><a onclick="checked" href="#">3</a></li>
        </ul>
    </div>
    <%- include('./layout/subscribe'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
